<!DOCTYPE html>
<html>
<head>
  <title><%= page_title yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div class="doc">
    <header id="hd">
      <%= render 'common/header' %>
    </header>
    <div id="bd">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <footer id="ft">
      <% render 'common/footer' %>
    </footer>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
